* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 4.5rem;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 10;
}

header h1 {
  color: white;
  cursor: pointer;
}

.hamburger {
  cursor: pointer;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.hamburger .bar-1 {
  display: block;
  width: 1.9rem;
  height: 0.2rem;
  background-color: #fff;
  margin: 0.5rem;
}

.modal {
  position: absolute;
  top: 4.5rem;
  right: 0;
  background-image: linear-gradient(to bottom, black, #3f333a);
  width: 10rem;
  text-align: center;
  border-bottom-left-radius: 1rem;
  display: none;
}

.modal ul {
  list-style-type: none;
}

.modal ul li,
a {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;
  color: white;
}

.hamburger:hover + .modal {
  display: block;
}
.modal:hover {
  display: block;
}

.hero {
  background-image: url("https://cdn.shopify.com/s/files/1/0868/3310/products/Spiral_20Galaxy_20NGC_203370_bf56a51b-7cec-40fa-9ffa-4a17356e4ad4.jpg?v=1489583625");
  min-height: 400px;
  background-position: center;
  display: flex;
  align-items: center;
}

.hero .hero-items h2,
h3 {
  padding: 1rem;
  margin-left: 2rem;
}

.about {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.about-wrappers {
  margin: 1rem;
}

.about h2 {
  margin: auto;

  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.about p {
  margin: auto;
  width: 70%;
  text-align: justify;
  line-height: 1.3rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 80%;
  margin: auto;
  gap: 5rem;
  text-align: center;
}

.gallery img {
  width: 100%;
  height: 100%;
}

footer {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 4.5rem;
  color: white;
}

@media screen and (min-width: 760px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
    width: 90%;
  }

  .hamburger {
    display: none;
  }

  .modal {
    position: inherit;
    top: inherit;
    width: auto;
    display: flex;
    align-items: center;
    background-image:none
  }

  .modal ul {
   
    display: flex;
    align-items: center;
  }

  .modal a {
    padding: 0;
    padding: 1rem;
    color: white;
    text-decoration: none;
  }

  .modal a:hover {
    color: #e5ae94;
  }
}

@media screen and (min-width: 1000px) {
  .gallery {
    width: 80%;
  }

  .about {
    flex-wrap: nowrap;
    margin: 3rem;
  }

  .gallery {
    border-top: 1px solid rgb(65, 60, 60);
    padding: 5rem;
  }

  .about h2 {
    font-size: 1.4rem;
  }
}
